Current Average Sentiment: {{averageSentiment}} <span style="background-color: yellow">{{sentimentSmiley}}</span>
<table class="table">
  <tbody>
  {{#each}}
    <tr>
      <td {{bind-attr class="sentimentClass"}}>
        {{text}}<br>
        - {{userName}} (<a {{bind-attr href="userURL"}} target="_blank">@{{userHandle}}</a>)
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>